* {
  font-family: 'Nunito', sans-serif;
  color: #3d373d;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: #3d373d;
}

.route-enter {
  opacity: 0;
}
.route-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.route-exit {
  opacity: 0;
}
.route-exit-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

/*  General styles */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
